*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  }
h1{
  text-align: center;
  background:rgb(148, 147, 119);
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: -1.5rem;
  text-decoration: underline;
}
.App {
  background:rgb(148, 147, 119);
  padding:1rem;
  display:flex;
  justify-content: space-around;
  margin-top: 1rem;
  padding-top: 2rem;
}
.newParent{
  background: rgb(183, 181, 181);
  margin-right: 3rem;
  margin-left: 1rem;
  flex:4;
}
.newTodo{
  text-align: left;
  background: rgb(111, 111, 174);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding:0.3rem;
  cursor: pointer;
  color:white;
  margin:1rem;
  border-radius: 0.8rem;
}
.movingOption{
  list-style-type: none;
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
  background-color: white;
  border-radius: 1rem;
  padding:0.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color:black
}
.onGoingParent{
  background: rgb(183, 181, 181);
  margin-right: 3rem;
  flex:4;
}
.onGoingTodo{
  text-align: left;
  background: rgb(193, 138, 35);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding:0.3rem;
  cursor: pointer;
  color:white;
  margin:1rem;
  border-radius: 0.8rem;
}
.expireMsg{
  color:rgb(144, 35, 35);
  font-weight: bold;
  text-align: center;
}
.doneParent{
  background: rgb(183, 181, 181);
  margin-right: 1rem;
  flex:4;
}
.doneTodo{
  text-align: left;
  background: rgb(86, 149, 86);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding:0.3rem;
  cursor: pointer;
  color:white;
  margin:1rem;
  border-radius: 0.8rem;
}
h2{
  text-align: center;
}
.addBtn{
  border:none;
  border-radius: 1rem;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  margin-left: 1.1rem;
  cursor:pointer;
}
.formContent{
  margin-left: 0.5rem;
}
.cancelAdd{
  background: rgb(230, 62, 62);
  cursor:pointer;
  border-radius: 0.5rem;
  padding:0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}
.saveBtn{
  border:none;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  cursor:pointer;
  background:rgb(111, 205, 111)
}
.cancelSaveContainer{
  margin-top: 0.5rem;
  margin-left: 0.7rem;
}


@media only screen and (max-width: 660px) {
  .App{
    flex-direction: column;
  }
  .newParent{
    margin-right: 1rem;
  }
  .onGoingParent{
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .doneParent{
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

