*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  }
.App {
  /* text-align: center; */
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.newParent{
  background: rgb(183, 181, 181);
  min-height:1rem;
  margin-right: 3rem;
  margin-left: 1rem;
  flex:4;
}
.newTodo{
  text-align: left;
  background: rgb(95, 95, 237);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding:0.3rem;
  cursor: pointer;
}
.movingOption{
  list-style-type: none;
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
  background-color: white;
  border-radius: 1rem;
  padding:0.3rem;
  margin-top: 0.1rem;
}
.onGoingParent{
  background: rgb(183, 181, 181);
  min-height:1rem;
  margin-right: 3rem;
  flex:4;
}
.onGoingTodo{
  text-align: left;
  background: orange;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding:0.3rem;
}
.expireMsg{
  color:red;
  font-size: bold;
}
.doneParent{
  background: rgb(183, 181, 181);
  min-height:1rem;
  margin-right: 2rem;
  flex:4;
}
.doneTodo{
  text-align: left;
  background: green;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding:0.3rem;
}


